<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>服务态度</string>
		<key>id</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>人员技术</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>服务收费</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>承诺不兑现</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>销售欺诈</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>配件争议</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他问题</string>
		<key>id</key>
		<string>6</string>
	</dict>
</array>
</plist>
