<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<string>1</string>
		<key>License_plate</key>
		<string>京</string>
		<key>Name</key>
		<string>北京市</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>2</string>
		<key>License_plate</key>
		<string>津</string>
		<key>Name</key>
		<string>天津市</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>3</string>
		<key>License_plate</key>
		<string>冀</string>
		<key>Name</key>
		<string>河北省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>4</string>
		<key>License_plate</key>
		<string>晋</string>
		<key>Name</key>
		<string>山西省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>5</string>
		<key>License_plate</key>
		<string>蒙</string>
		<key>Name</key>
		<string>内蒙古自治区</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>6</string>
		<key>License_plate</key>
		<string>辽</string>
		<key>Name</key>
		<string>辽宁省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>7</string>
		<key>License_plate</key>
		<string>吉</string>
		<key>Name</key>
		<string>吉林省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>8</string>
		<key>License_plate</key>
		<string>黑</string>
		<key>Name</key>
		<string>黑龙江省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>9</string>
		<key>License_plate</key>
		<string>沪</string>
		<key>Name</key>
		<string>上海市</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>10</string>
		<key>License_plate</key>
		<string>苏</string>
		<key>Name</key>
		<string>江苏省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>11</string>
		<key>License_plate</key>
		<string>浙</string>
		<key>Name</key>
		<string>浙江省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>12</string>
		<key>License_plate</key>
		<string>皖</string>
		<key>Name</key>
		<string>安徽省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>13</string>
		<key>License_plate</key>
		<string>闽</string>
		<key>Name</key>
		<string>福建省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>14</string>
		<key>License_plate</key>
		<string>赣</string>
		<key>Name</key>
		<string>江西省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>15</string>
		<key>License_plate</key>
		<string>鲁</string>
		<key>Name</key>
		<string>山东省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>16</string>
		<key>License_plate</key>
		<string>豫</string>
		<key>Name</key>
		<string>河南省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>17</string>
		<key>License_plate</key>
		<string>鄂</string>
		<key>Name</key>
		<string>湖北省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>18</string>
		<key>License_plate</key>
		<string>湘</string>
		<key>Name</key>
		<string>湖南省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>19</string>
		<key>License_plate</key>
		<string>粤</string>
		<key>Name</key>
		<string>广东省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>20</string>
		<key>License_plate</key>
		<string>桂</string>
		<key>Name</key>
		<string>广西壮族自治区</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>21</string>
		<key>License_plate</key>
		<string>琼</string>
		<key>Name</key>
		<string>海南省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>22</string>
		<key>License_plate</key>
		<string>渝</string>
		<key>Name</key>
		<string>重庆市</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>23</string>
		<key>License_plate</key>
		<string>川</string>
		<key>Name</key>
		<string>四川省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>24</string>
		<key>License_plate</key>
		<string>贵</string>
		<key>Name</key>
		<string>贵州省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>25</string>
		<key>License_plate</key>
		<string>云</string>
		<key>Name</key>
		<string>云南省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>26</string>
		<key>License_plate</key>
		<string>藏</string>
		<key>Name</key>
		<string>西藏自治区</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>27</string>
		<key>License_plate</key>
		<string>陕</string>
		<key>Name</key>
		<string>陕西省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>28</string>
		<key>License_plate</key>
		<string>甘</string>
		<key>Name</key>
		<string>甘肃省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>29</string>
		<key>License_plate</key>
		<string>青</string>
		<key>Name</key>
		<string>青海省</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>30</string>
		<key>License_plate</key>
		<string>宁</string>
		<key>Name</key>
		<string>宁夏回族自治区</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>31</string>
		<key>License_plate</key>
		<string>新</string>
		<key>Name</key>
		<string>新疆维吾尔自治区</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>32</string>
		<key>License_plate</key>
		<string>港</string>
		<key>Name</key>
		<string>香港特别行政区</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>33</string>
		<key>License_plate</key>
		<string>澳</string>
		<key>Name</key>
		<string>澳门特别行政区</string>
	</dict>
	<dict>
		<key>Id</key>
		<string>34</string>
		<key>License_plate</key>
		<string>台</string>
		<key>Name</key>
		<string>台湾省</string>
	</dict>
</array>
</plist>
